{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Clorismen Customer Service{% endblock %}</title>
        {% block haed %}{% endblock %}
    </head>
    <body style="text-align: center;background-color: #49535a; color: white;  font-family: -apple-system, BlinkMacSystemFont, sans-serif;">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% endspaceless %}
